# Data structures

# String

In [1]:
mystr = 'ABCDEFGHIJKL'

In [2]:
mystr[0]

'A'

In [3]:
mystr[-1]

'L'

In [4]:
mystr[2:8]

'CDEFGH'

In [5]:
mystr[2:9:2]   #2, 4, 6,8   ###,10,12,14

'CEGI'

In [6]:
mystr[2:10:2]

'CEGI'

In [8]:
mystr[7:3]  #7,8,9

''

In [7]:
mystr[7:3:-1]

'HGFE'

In [9]:
mystr[-8:-2]

'EFGHIJ'

In [11]:
mystr[-2:-8]

''

In [12]:
mystr[-2:-8:-1]

'KJIHGF'

In [13]:
mystr[-2:-8:-2]

'KIG'

In [14]:
mystr[:]

'ABCDEFGHIJKL'

In [15]:
mystr[2:]

'CDEFGHIJKL'

In [16]:
mystr[:7]

'ABCDEFG'

In [17]:
mystr[::2]

'ACEGIK'

In [18]:
mystr[::-1]

'LKJIHGFEDCBA'

# Immutable

In [19]:
greet = "Hello_world"
newgreet = 'J' + greet[1:]
print(newgreet)

Jello_world

In [22]:
#self-repetition
mystr = "python_"
mystr22 = mystr*3
print(mystr22)

python_python_python_

In [23]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [24]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [27]:
#Original object of string is not modified . New object is created and reference is returned
mystr1 = "King RING SIng biNG piNG"
ns = mystr1.replace('ng','ms')
print(ns)
print(mystr1)

Kims RING SIms biNG piNG
King RING SIng biNG piNG

In [28]:
print(mystr1.replace('g','*').replace('G','$'))

Kin* RIN$ SIn* biN$ piN$

In [29]:
mystr1 = "Hello world of python today"
ns     =  mystr1.replace('o','u')
print(ns)

Hellu wurld uf pythun tuday

In [32]:
help(str.replace)
#refer argument count

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [30]:
#replace first 2 occurence of o
mystr1 = "Hello world of python today"
ns     =  mystr1.replace('o','u',2)
print(ns)

Hellu wurld of python today

In [31]:
#replace first 3 occurence of o
mystr1 = "Hello world of python today"
ns     =  mystr1.replace('o','u',3)
print(ns)

Hellu wurld uf python today

In [33]:
ns     =  mystr1.replace('o','uz',3)
print(ns)

Helluz wuzrld uzf python today

In [34]:
ns     =  mystr1.replace('today','tommorrow')
print(ns)

Hello world of python tommorrow

# string.find(mystring,sIndex=0,eIndex=len(mystring))

In [ ]:
#searches for mysubstring , in the string , within slice [sIndex:eIndex]

In [35]:
help(str.find)

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [38]:
mystr = "Statement"
r = mystr.find('a')
print(r)

2

In [39]:
print(mystr.find('t'))

1

In [40]:
print(mystr.find('t',2))

3

In [41]:
print(mystr.find('ate'))

2

In [43]:
print(mystr.find('t',4,7))
print(mystr[4:7])

-1
eme

In [44]:
help(str.rfind)

Help on method_descriptor:

rfind(...)
    S.rfind(sub[, start[, end]]) -> int

    Return the highest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [45]:
print(mystr.rfind('t'))

8

In [54]:
mystr2 = "hello world of python tomorrow"
mystr2.find('o',-16,-2)

19

In [53]:
mystr2[-16:-2]

' python tomorr'

# String Functions

In [67]:
name = "Chinmay murlidhar Sapkale"

In [56]:
name.count('a')

4

In [57]:
name.upper()

'CHINMAY MURLIDHAR SAPKALE'

In [58]:
name.lower()

'chinmay murlidhar sapkale'

In [59]:
#only starting letter of the entire string is capital
name.capitalize()

'Chinmay murlidhar sapkale'

In [60]:
#First letter of all yhe words is capital
name.title()

'Chinmay Murlidhar Sapkale'

In [61]:
len(name)

25

In [1]:
name = "Chinmay murlidhar Sapkale"
min(name)

' '

In [6]:
print(min("ab"))
print(min("AB"))
print(min("ab AB"))   #prints empty string

a
A

In [63]:
max(name)

'y'

In [64]:
#Sum works with numerical data only
sum(name)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [77]:
# Swapcase will convert uppercase charcter to lower case character and vice a versa
name .swapcase()

'cHINMAY MURLIDHAR sAPKALE'

In [78]:
str4 = "hello"

In [79]:
str4.islower()

True

In [80]:
str4.isupper()

False

In [85]:
str4.isdigit()

False

In [86]:
"20".isdigit()

True

In [1]:
20.isdigit()

SyntaxError: invalid syntax (<ipython-input-1-0107dab2e6ce>, line 1)

In [91]:
mystr3 = "hello world of , python tommorrow"

In [92]:
help(str.rpartition)

Help on method_descriptor:

rpartition(self, sep, /)
    Partition the string into three parts using the given separator.

    This will search for the separator in the string, starting at the end. If
    the separator is found, returns a 3-tuple containing the part before the
    separator, the separator itself, and the part after it.

    If the separator is not found, returns a 3-tuple containing two empty strings
    and the original string.

In [95]:
mystr3.rpartition(',')

('hello world of ', ',', ' python tommorrow')

In [96]:
mystr3.rpartition(':')

('', '', 'hello world of , python tommorrow')

In [98]:
nam = "Chinmay Murlidhar : Sapkale"
nam.rpartition(':')

('Chinmay Murlidhar ', ':', ' Sapkale')

In [103]:
mystr = "------  hello world of , python tommorrow  ------"

In [104]:
mystr.strip()

'------  hello world of , python tommorrow  ------'

In [105]:
mystr.strip('-')

'  hello world of , python tommorrow  '

In [ ]:
# 1) 
#         passed
# String =========> str.split() method  ==> list of elements of string
# 2)
#         passed
# list   =========> " ".join(mylist) =====> string of elements of list

In [108]:
ms = "world health organization"
mylist = ms.split()
print(mylist)
print(type(mylist))

['world', 'healt', 'organization']
<class 'list'>

In [109]:
ms = "world,health,organization"
print(ms.split())

['world,health,organization']

In [111]:
print(ms.split(','))

['world', 'health', 'organization']

In [112]:
mylist = [ "National","Stock","Exchange"]

In [113]:
ns =":".join(mylist)
print(ns)

National:Stock:Exchange

In [114]:
ns =" ".join(mylist)
print(ns)

National Stock Exchange

In [115]:
ns ="-".join(mylist)
print(ns)

National-Stock-Exchange

# LISTS

In [ ]:
#orderd set of values , where each value is identified by an index
#Lists are mutable
#Iterated

In [116]:
mlist = ["Hello",123,(20,"World"),[1,"Jan",(2017,2018)]]

In [117]:
mlist

['Hello', 123, (20, 'World'), [1, 'Jan', (2017, 2018)]]

In [118]:
mlist[2]

(20, 'World')

In [119]:
mlist[-1]

[1, 'Jan', (2017, 2018)]

In [120]:
mlist[3][2]

(2017, 2018)

In [121]:
mlist[-1][2][1]

2018

# Operators of list

In [122]:
# When use "+"  operator with list ===> it joins 2 list
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [123]:
# When we use "*" operator with list ===> self repetition
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [124]:
list('Python')

['P', 'y', 't', 'h', 'o', 'n']

In [126]:
mylist = list('pythonworldtoday')

In [127]:
mylist

['p',
 'y',
 't',
 'h',
 'o',
 'n',
 'w',
 'o',
 'r',
 'l',
 'd',
 't',
 'o',
 'd',
 'a',
 'y']

In [128]:
print(mylist)

['p', 'y', 't', 'h', 'o', 'n', 'w', 'o', 'r', 'l', 'd', 't', 'o', 'd', 'a', 'y']

In [129]:
mylist[-1]

'y'

In [130]:
mylist[2:5]

['t', 'h', 'o']

In [131]:
mylist = [111,222,333,444]

In [132]:
111 in mylist

True

In [133]:
777 in mylist

False

In [134]:
777 not in mylist

True

# LIST FUNCTIONS

In [7]:
mylist1 = [2,4,6,3,5,7,1]
print(mylist1)
a = mylist1.append(21)
print(a)                       # Change is made in original object thats why we are getting None
print("Append",mylist1)

[2, 4, 6, 3, 5, 7, 1]
None
Append [2, 4, 6, 3, 5, 7, 1, 21]

In [8]:
mylist1.extend([5,10,15])

In [9]:
mylist1

[2, 4, 6, 3, 5, 7, 1, 21, 5, 10, 15]

In [10]:
# removes element 1 from the list
mylist1.remove(1)

In [11]:
mylist1

[2, 4, 6, 3, 5, 7, 21, 5, 10, 15]

In [146]:
mylist1.sort()
mylist1

[2, 3, 4, 5, 5, 6, 7, 10, 15]

In [151]:
mylist1.sort(reverse= True)
mylist1

[15, 10, 7, 6, 5, 5, 4, 3, 2]

In [152]:
mylist1

[15, 10, 7, 6, 5, 5, 4, 3, 2]

# Tuple

In [156]:
mt1 = (123, 345)

In [157]:
print(type(mt1))

<class 'tuple'>

In [158]:
mt1 = (123)

In [159]:
print(type(mt1))

<class 'int'>

In [161]:
mt1 = (123,)

In [162]:
print(type(mt1))

<class 'tuple'>

In [163]:
mt1[0]

123

In [164]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [165]:
mt1 = tuple('pythonworld')

In [166]:
mt1

('p', 'y', 't', 'h', 'o', 'n', 'w', 'o', 'r', 'l', 'd')

In [167]:
mt1[2:5]

('t', 'h', 'o')

In [168]:
(1,2,3) + (5,6,7)

(1, 2, 3, 5, 6, 7)

In [169]:
(1,2,3)*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [171]:
'y' in mt1

True

In [172]:
'y' not in mt1

False

In [173]:
'z' in mt1

False

In [174]:
'z' not in mt1

True

In [175]:
mt1

('p', 'y', 't', 'h', 'o', 'n', 'w', 'o', 'r', 'l', 'd')

In [176]:
mt1.count('o')

2

In [177]:
mt1.index('y')

1

In [178]:
mylist1 = list(mt1)

In [179]:
mylist1

['p', 'y', 't', 'h', 'o', 'n', 'w', 'o', 'r', 'l', 'd']

In [180]:
mylist1[0] = 'c'

In [181]:
mylist1

['c', 'y', 't', 'h', 'o', 'n', 'w', 'o', 'r', 'l', 'd']

In [182]:
mt1 = tuple(mylist1)

In [183]:
mt1

('c', 'y', 't', 'h', 'o', 'n', 'w', 'o', 'r', 'l', 'd')

In [ ]:
#pure tuple and impure tuple

In [184]:
mt1 = ('hello')  #pure tuple

In [185]:
# We can hash pure tuple
hash(mt1)

2857296702290469058

In [18]:
mt2 = ("hello" ,"Customer")
hash(mt2)

2930395728788032374

In [7]:
# We cannot hash impure tuple (that is tuple having list is impure)
mt1 = ('hello',[2,4,6],(1,2))

In [8]:
hash(mt1)

TypeError: unhashable type: 'list'

# Dictionary

In [200]:
md1 = {"Name":"Arun" , "Balance" :  20000, "UID" : 123456781234}

In [189]:
md1['PIN'] = 560040 #Adding element in dictionary

In [190]:
md1

{'Name': 'Arun', 'Balance': 20000, 'UID': 123456781234, 'PIN': 560040}

In [191]:
md1["Balance"] = md1["Balance"] + 10001

In [192]:
md1

{'Name': 'Arun', 'Balance': 30001, 'UID': 123456781234, 'PIN': 560040}

In [193]:
del md1['PIN']

In [194]:
md1

{'Name': 'Arun', 'Balance': 30001, 'UID': 123456781234}

In [195]:
md1.clear() #delete all the element in dictionary

In [196]:
md1

{}

In [198]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [201]:
# dictionary.keys() ==> returns all the keys from dictionary
md1.keys()

dict_keys(['Name', 'Balance', 'UID'])

In [202]:
# dictionary.values() ==> return all the values from dictionary
md1.values()

dict_values(['Arun', 20000, 123456781234])

In [203]:
#dictionary.items()  ==> provides list which include tuple of key:value pair
md1.items()

dict_items([('Name', 'Arun'), ('Balance', 20000), ('UID', 123456781234)])

In [204]:
type(md1.items())

dict_items

In [205]:
len(md1)

3

In [20]:
md1 = {"name" : "python" , "pin" : 5600040, "city" : "blr"}

In [21]:
md2 = {"name" : "python38" , "source" : "PSF"}

In [22]:
md1.update(md2)

In [23]:
md1

{'name': 'python38', 'pin': 5600040, 'city': 'blr', 'source': 'PSF'}

In [24]:
md1.get('pin')

5600040

In [25]:
x = md1.get('state')
print(x)      #refer docstring of get

None

In [26]:
x = md1.get('state','unknown')
print(x)

unknown

In [27]:
x = md1.pop()
print(x)

TypeError: pop expected at least 1 argument, got 0

In [28]:
# pop will pop the pin and return the value of the key poped
x = md1.pop("pin")
print(x)

5600040

In [29]:
md1

{'name': 'python38', 'city': 'blr', 'source': 'PSF'}

In [30]:
# If we try to pop the key which is not present, it will give key error
x = md1.pop("state")
print(x)

KeyError: 'state'

In [31]:
# User defined message for pop
x = md1.pop("state","KEY NOT FOUND")
print(x)

KEY NOT FOUND

In [32]:
md1

{'name': 'python38', 'city': 'blr', 'source': 'PSF'}

In [ ]:
md1.setdefault('state')

In [221]:
md1

{'name': 'python38', 'city': 'blr', 'source': 'PSF', 'state': None}

In [224]:
md1.setdefault('state1','delhi')

'delhi'

In [225]:
md1

{'name': 'python38',
 'city': 'blr',
 'source': 'PSF',
 'state': None,
 'state1': 'delhi'}

In [226]:
x = md1.setdefault('state1','delhi')
print(x)
print(md1)

delhi
{'name': 'python38', 'city': 'blr', 'source': 'PSF', 'state': None, 'state1': 'delhi'}

In [228]:
mt1 = ('Game' , 'Player' , 'Age')
md4 = dict.fromkeys(mt1)
print(md4)

{'Game': None, 'Player': None, 'Age': None}

In [230]:
md3 = dict.fromkeys(mt1,"BLANK")
print(md3)

{'Game': 'BLANK', 'Player': 'BLANK', 'Age': 'BLANK'}

In [1]:
l3 = ["Champ" , 91.6 , 71]
md5 = dict.fromkeys(l3)
print(md5)

{'Champ': None, 91.6: None, 71: None}

In [2]:
md7 = dict.fromkeys(l3 , "BLANK")
print(md7)

{'Champ': 'BLANK', 91.6: 'BLANK', 71: 'BLANK'}