In [1]:
print("NSE")

NSE

In [2]:
print('NSE')

NSE

In [3]:
print('NSE")
#Start with double quotes or single quotes and end with double quotes and single quotes

SyntaxError: EOL while scanning string literal (<ipython-input-3-6aa44d0394f1>, line 1)

In [4]:
mystring1 = "hello world of python"
print(mystring1)
print('hello')

hello world of python
hello

In [ ]:
#single line comment
"""
Multiple line comment
"""

In [1]:
print("HI")
"""
Muliple line s=comment should be before print
"""

HI

'\nMuliple line s=comment should be before print\n'

In [8]:
#example of multi line comment
"""
Python is data sci language
along with django framework
and its an free and open source language

"""
str1 = "hi"
print(str1)

hi

In [ ]:
#if you want to check shortcuts then selec the keyboard sign near pull down menu(code)

In [5]:
exchange = "NSE Mumbai"; print(exchange)
Currency = "Dollar_$"; print(Currency)
#python executes staement by statement

NSE Mumbai
Dollar_$

In [7]:
#Quote
#word is represented by single quotes ''
#sentence represented by " "
#paragragph represented by ''' '''

word = "Chinmay"
print(word)

sent = "CHINMAY MURLIDHAR SAPKALE"
print(sent)

paragraph = """ THIS IS PARAGRAPH MADE UP OF 
                MULTIPLE LINES."""
print(paragraph)

Chinmay
CHINMAY MURLIDHAR SAPKALE
 THIS IS PARAGRAPH MADE UP OF
                MULTIPLE LINES.

In [10]:
exhange = 'NSE'
print("WORD: ",exchange,"MEM LOC: ",id(exchange))
Exchange = 'NSE'
print("WORD: ",Exchange,"MEM LOC:",id(Exchange))

WORD:  NSE Mumbai MEM LOC:  2491936487792
WORD:  NSE MEM LOC: 2491936506928

In [11]:
91nes ='nse'

SyntaxError: invalid syntax (<ipython-input-11-fd9b9c94f914>, line 1)

In [12]:
ex$gf = 'Thanks for teaching good life lesson'

SyntaxError: invalid syntax (<ipython-input-12-1ac4c961d996>, line 1)

In [13]:
print  = 40

In [14]:
print("hi")

TypeError: 'int' object is not callable

In [15]:
del print

In [16]:
print("hi")

hi

In [17]:
a = 20
print(a)
print(type(a))
print(id(a))

20
<class 'int'>
140724935731584

In [18]:
a = 'hello'
print(a)
print(type(a))
print(id(a))

hello
<class 'str'>
2491937305840

In [19]:
a = 45.5
print(a)
print(type(a))
print(id(a))

45.5
<class 'float'>
2491936243216

In [20]:
a = b = c = 89

In [21]:
id(a)

140724935733792

In [22]:
id(b)

140724935733792

In [23]:
id(c)

140724935733792

In [26]:
a = b = c = 8976

In [27]:
id(a)

2491936654448

In [28]:
id(b)

2491936654448

In [29]:
id(c)

2491936654448

In [30]:
#POSITIONAL MAPPING
x , y ,z = 34,"hello",45.5
print(x)
print(y)
print(z)

34
hello
45.5

In [32]:
#complex no
numc = 34j
print(type(numc))

<class 'complex'>

In [ ]:
#python is dynamically type
#a variable type depends on the type of value

# String

In [33]:
ch = 'a'
print(ch)
print(type(ch))

a
<class 'str'>

In [34]:
word = "Hello"
print(word)
print(type(word))

Hello
<class 'str'>

In [35]:
#strings are immutable
sentence  = 'Hello world'
sentence[1] = 'm'

TypeError: 'str' object does not support item assignment

In [37]:
sentence[0]

'H'

In [39]:
sentence[-1]

'd'

In [40]:
sentence[-3]

'r'

In [41]:
len(sentence)

11

# LIST

In [42]:
mylist = [234, 5.67, "Hello" , 567]

In [43]:
print(mylist)

[234, 5.67, 'Hello', 567]

In [44]:
print(mylist[0])
print(mylist[-1])

234
567

In [45]:
mylist[2]

'Hello'

In [46]:
mylist[2][1]

'e'

In [47]:
mylist[0] = 250

In [48]:
mylist

[250, 5.67, 'Hello', 567]

# Tuple

In [2]:
mytuple = (234 , 45.6 , "Hello")
mytuple

(234, 45.6, 'Hello')

In [3]:
type(mytuple)

tuple

In [51]:
mytuple[0] = 456

TypeError: 'tuple' object does not support item assignment

In [53]:
mytuple[2][2]

'l'

In [54]:
mytuple[-1][-1]

'o'

# Dictionary

In [55]:
studenthash = {"Name":"Python" , "ID":1234, "City":"Delhi", 91:"India"}

In [56]:
studenthash["Name"]

'Python'

In [58]:
studenthash[91]

'India'

In [60]:
studenthash["City"] = "Mumbai"

In [61]:
studenthash

{'Name': 'Python', 'ID': 1234, 'City': 'Mumbai', 91: 'India'}

# Typical Print Statement

In [62]:
car_count = 22 
car_model = "Fortuner"

In [63]:
print(car_count,car_model)

22 Fortuner

In [64]:
print("CAR COUNT: ",car_count,"CAR MODEL: ",car_model)

CAR COUNT:  22 CAR MODEL:  Fortuner

In [65]:
print("WE HAVE %d %s IN THE SHOWROOM"%(car_count,car_model))
print("WE HAVE {} {} IN THE SHOWROOM: ".format(car_count,car_model))

WE HAVE 22 Fortuner IN THE SHOWROOM
WE HAVE 22 Fortuner IN THE SHOWROOM:

In [66]:
cc = 22
cw = 2.7
cm = "Alto"

In [68]:
print("We have %d number of %s whose weight is %f"%(cc,cm,cw))

We have 22 number of Alto whose weight is 2.700000

In [70]:
#problem : throughs an error when the parameter is changed
print("We have %d number of %s whose weight is %f"%(cc,cw,cm))

TypeError: must be real number, not str

In [69]:
print("We have {} number of {} whose weight is {}".format(cc,cm,cw))

We have 22 number of Alto whose weight is 2.7

In [71]:
#space after 20 30 240 and 50 is because bydefault sep = " "
print(20,30,240,50)

20 30 240 50

In [72]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [4]:
#by default sep is "\n"
print(20,30,240,50)

20 30 240 50

In [73]:
print(20,30,240,50, sep = ":")

20:30:240:50

In [74]:
help(format)

Help on built-in function format in module builtins:

format(value, format_spec='', /)
    Return value.__format__(format_spec)

    format_spec defaults to the empty string.
    See the Format Specification Mini-Language section of help('FORMATTING') for
    details.

In [ ]:
help('FORMATTING')

# Escape Characters

In [77]:
print("Line1\nLine2")

Line1
Line2

In [78]:
print("Part1\tPart2")

Part1	Part2

In [79]:
print("c:\test_directory")

c:	est_directory

In [80]:
print("c:\\tes_directory")

c:\tes_directory

In [82]:
print('Chinmay's cafe')

SyntaxError: invalid syntax (<ipython-input-82-f3a82b1d39ba>, line 1)

In [84]:
print('Chinmay\'s cafe')

Chinmay's cafe

# Input from user

In [85]:
year = input("ENTER THE YEAR")
print(year)
print(type(year))

ENTER THE YEAR2020
2020
<class 'str'>

In [86]:
year + 1

TypeError: can only concatenate str (not "int") to str

In [87]:
int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

In [88]:
#integer to ascii and ascii to integer
int("20")

20

# Bool

In [89]:
x = 5

In [90]:
bool(x)

True

In [91]:
not(True)

False

In [92]:
not(False)

True

In [93]:
not(bool(x))

False

# MEMBERSHIP (IN,NOT IN)

In [94]:
"good" in "this is good book"

True

In [95]:
"go" in "this is good book"

True

In [96]:
"z" in "this is good book"

False

In [98]:
"good" not in "this is excellent book"

True

# Identity operatos(is,is not)

In [112]:
a = b = 2000

In [107]:
id(a)

2491937653136

In [101]:
id(b)

2491937323216

In [113]:
a == b

True

In [108]:
a is b

True

In [114]:
a = 2000
b = 2000

In [110]:
id(a)

2491937323120

In [104]:
id(b)

2491937324848

In [115]:
a == b

True

In [111]:
a is b

False

# Bitwise

In [116]:
x = 13
y = 10

In [121]:
print("{0:b},{0:d}".format(x))

1101,13

In [120]:
print("{0:b},{0:d}".format(y))

1010,10

In [122]:
#and operator(&)
print("{0:b},{0:d}".format(x))
print("{0:b},{0:d}".format(y))

print("{0:b},{0:d}".format(x&y))

1101,13
1010,10
1000,8

In [124]:
#or operator(|)
print("{0:b},{0:d}".format(x))
print("{0:b},{0:d}".format(y))
print("{0:b},{0:d}".format(x|y))

1101,13
1010,10
1111,15

In [127]:
#x-or(^)  ==> bits are diff value is 1 , bit are same 0
print("{0:b},{0:d}".format(x))
print("{0:b},{0:d}".format(y))
print("{0:04b},{0:d}".format(x^y))

1101,13
1010,10
0111,7

In [135]:
y = 10
print(y << 1) #left shift doubling the value
print(y >> 1) #right shift is dividing the value

20
5

# Operator precedence

In [138]:
(5+9)*(15-7)

112

In [139]:
(1+1)**(5*2)

1024

In [140]:
2**1+1

3

In [141]:
3*1**3

3

In [142]:
2/3-1

-0.33333333333333337

In [143]:
59*100/6

983.3333333333334