In [1]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [4]:
mt1 = ('Game' , 'Player' , 'Age')

md1 = dict.fromkeys(mt1)
print(md1)

md1 = dict.fromkeys(mt1,"unknown")
print(md1)

{'Game': None, 'Player': None, 'Age': None}
{'Game': 'unknown', 'Player': 'unknown', 'Age': 'unknown'}

In [5]:
mt1

('Game', 'Player', 'Age')

In [6]:
mt2 = ("Atletics" , "Hima" , 23)

In [7]:
mt2

('Atletics', 'Hima', 23)

In [15]:
z = zip(mt1,mt2)
print(z)            #zip is a iterator so print not allowed
print(type(z))

<zip object at 0x00000243FA574340>
<class 'zip'>

In [13]:
list(z)            #convert it to list

[('Game', 'Atletics'), ('Player', 'Hima'), ('Age', 23)]

In [14]:
list(z)            #Iterator are consumable only once

[]

In [16]:
#solution 
z = zip(mt1,mt2)
print(z)   
mylist = list(z)
print(mylist)

[('Game', 'Atletics'), ('Player', 'Hima'), ('Age', 23)]

In [18]:
md3 = dict(mylist)
md3

{'Game': 'Atletics', 'Player': 'Hima', 'Age': 23}

In [19]:
md4 = dict(zip(mt1,mt2))
md4

{'Game': 'Atletics', 'Player': 'Hima', 'Age': 23}

# SETS

In [20]:
myset1 = {2,4,6,8,10,12,6,10,4}
print(myset1)
print(len(myset1))
print(type(myset1))

{2, 4, 6, 8, 10, 12}
6
<class 'set'>

In [21]:
for i in myset1:
    print(i)

2
4
6
8
10
12

In [22]:
#defining a empty set
myset2 = set()
myset2.add(20)
myset2

{20}

In [25]:
mylist1 = list("hello world of python")

In [26]:
mylist1

['h',
 'e',
 'l',
 'l',
 'o',
 ' ',
 'w',
 'o',
 'r',
 'l',
 'd',
 ' ',
 'o',
 'f',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n']

In [27]:
print(mylist1)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ' ', 'o', 'f', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [28]:
s1 = set(mylist1)
mylist2 = list(s1)
print(mylist2)

['l', 'p', 'o', 'y', 'n', 'e', 'h', 'w', 't', 'd', 'f', 'r', ' ']

In [31]:
mylist3 = list(set(mylist1))
print(mylist3)

['l', 'p', 'o', 'y', 'n', 'e', 'h', 'w', 't', 'd', 'f', 'r', ' ']

In [32]:
s1 = {2,4,6,8,1,3,5,7}
s2 = {2,4,6,11,13,15,17}

In [33]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 11, 13, 15, 17}

In [34]:
s1.intersection(s2)

{2, 4, 6}

In [35]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [36]:
s1.remove(9)

KeyError: 9

In [38]:
s1.remove(5)

In [39]:
s1

{1, 2, 3, 4, 6, 7, 8}

In [40]:
s1.pop()

1

In [42]:
s1.pop()

2

In [43]:
s1.pop()

3

In [44]:
s1.pop()

4

In [46]:
s1.pop()

6

In [47]:
s1

{7, 8}

In [56]:
marks = int(input("ENTER THE RECENT EXAM SCORE: "))
if marks < 35:
    print("Fail.You need ",35 - marks,"more marks for pass class.")
elif marks>=35 and marks<50:
    print("Pass Class.You need",50 - marks,"more marks for second class.")
elif marks>=50 and marks<60:
    print("Second Class.You need",60 - marks,"more marks for first class")
elif marks>= 60 and marks<70:
    print("First Class.You need", 70 - marks,"more marks for DISTINCTION.")
elif marks>=70:
    print("CONGRALUTIONS.YOU ARE PASSED WITH DISTINCTION.")
else:
    print("ENTER VALID INPUT.")

ENTER THE RECENT EXAM SCORE: 80
CONGRALUTIONS.YOU ARE PASSED WITH DISTINCTION.

In [61]:
hr = int(input("ENTER THE HRS: "))
talking = int(input("ENTER 1.TALKING 0.FOR NOT TALKING"))

if talking and (hr in [20,21,22,23,0,1,2,3,4,5,6,7]):
    print("WE ARE IN TROUBLE.")
else:
    print("WE ARE NOT IN TROUBLE.")

ENTER THE HRS: 9
ENTER 1.TALKING 0.FOR NOT TALKING0
WE ARE NOT IN TROUBLE.

In [62]:
#sirs program
hour = int(input("ENTER HOUR IN RANGE FROM 0 to 23"))
talking = bool(int(input("ENTER TALKING AS 0(False) or 1(True)")))

if talking == True:
    if hour >= 20 or hour <= 7:
        print("Trouble")
    else:
        print("Not Trouble ")
else:
    print("Not Trouble")

ENTER HOUR IN RANGE FROM 0 to 2322
ENTER TALKING AS 0(False) or 1(True)1
Trouble

# Range

In [63]:
#range(start,end,step)   generates number from start to end(excluding end) with step size of step
#range(start,end)        generates number from start to end(excluding end) with step size = +1
#range(end)              generate number from 0 to end(excluding end) with step size = +1

In [69]:
r = range(7)
type(r)

range

In [71]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [73]:
for i in range(7):
    print(i,end = " ")

0 1 2 3 4 5 6

In [74]:
for i in range(2,11,2):
    print(i,end = " ")

2 4 6 8 10

In [75]:
for i in range(10,3,-1):
    print(i,end=" ")

10 9 8 7 6 5 4

In [78]:
lcount = 10
while (lcount > 0):
    print(lcount)
    lcount = lcount - 1         #line missed the infinite loop
print("OUT OF WHILE LOOP")

10
9
8
7
6
5
4
3
2
1
OUT OF WHILE LOOP

In [79]:
lcount = 10
while (lcount < 21):
    print(lcount)
    lcount = lcount + 1
print("Out of while loop")

10
11
12
13
14
15
16
17
18
19
20
Out of while loop

In [80]:
for letter in "Python":
    print(letter)
print("OUT OF FOR LOOP")

P
y
t
h
o
n
OUT OF FOR LOOP

In [91]:
stocks = ["infy" , "tcs" , "ongc"]
for item in stocks:
    print(item)
print("\nOut of for loop")

infy
tcs
ongc

Out of for loop

In [3]:
mt1 = (1,2,"abcd","pqrs",[111,222,333],555,(444,666,777))
print(len(mt1))
print()
for item in mt1:
    print(item)
    
    
    if isinstance(item,(str,list,tuple)):
        for ele in item:
            print("\t",ele)

7

1
2
abcd
	 a
	 b
	 c
	 d
pqrs
	 p
	 q
	 r
	 s
[111, 222, 333]
	 111
	 222
	 333
555
(444, 666, 777)
	 444
	 666
	 777

In [86]:
#isinstance operator
isinstance(1,int)

True

In [87]:
isinstance(1.3,int)

False

In [89]:
isinstance("hello", int)

False

In [90]:
isinstance("hello", str)

True

# Packing Unpacking

In [94]:
a = 10

In [95]:
a = 10,20,30     #packing into tuple

In [96]:
print(a)
print(type(a))

(10, 20, 30)
<class 'tuple'>

In [97]:
#unpacking
a = (10,20)

In [98]:
a,b = (10,20)  #tuple is being unpacked

In [99]:
a

10

In [100]:
b

20

In [103]:
a,b = (10,20,30)

ValueError: too many values to unpack (expected 2)

In [104]:
md4

{'Game': 'Atletics', 'Player': 'Hima', 'Age': 23}

In [106]:
i = md4.items()
i

dict_items([('Game', 'Atletics'), ('Player', 'Hima'), ('Age', 23)])

In [109]:
for k,v in md4.items():                #packing and unpacking of tuples
    print("KEY:",k,"\tVALUE: ",v)

KEY: Game 	VALUE:  Atletics
KEY: Player 	VALUE:  Hima
KEY: Age 	VALUE:  23

# Break / Continue statement

In [111]:
for ch in "Python":
    if ch == 'h':
        break
    print(ch)
print("out of for")

P
y
t
out of for

In [112]:
lcount = 9
while (lcount > 0):
    print(lcount)
    if lcount == 5:
        break
    lcount = lcount - 1
print("out of for")

9
8
7
6
5
out of for

In [ ]:
#continue

In [113]:
for ch in "Python":
    if ch == 'h':
        continue
    print(ch)
print("continue done")

P
y
t
o
n
continue done

In [115]:
lcount = 9
while (lcount > 0):
    lcount = lcount - 1
    print(lcount)
    if lcount == 5:
        continue
    
print("out of for")

8
7
6
5
4
3
2
1
0
out of for

# String Formatting

In [117]:
ms1 = "Python"

In [120]:
print('s{0:*<10}e'.format(ms1))   #< * is right aligned

sPython****e

In [121]:
print('s{0:*>10}e'.format(ms1))    # > * is left aligned

s****Pythone

In [122]:
print('s{0:*^10}e'.format(ms1))    # ^ centre aligned

s**Python**e

In [123]:
print('s{0:*^10}e'.format("python1"))

s*python1**e

In [124]:
print('s{0:*^20}e'.format("python1"))

s******python1*******e

# List Comprehension

In [128]:
#wap to find square of number from 10 to 20
sqlist = []
for i in range(10,21):
    sq = i**2
    sqlist.append(sq)
print(sqlist)

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [132]:
sqlist1 = [ i**2    for i in range(10,21)]
sqlist1

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [133]:
#list containing 2^10 to 2^20
lc1 = [ 2**i      for i in range(10,21)]
lc1

[1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288, 1048576]

In [136]:
#In range of 10-30 find the square of even number
lc2 = [ i**2          for i in range(10,31)    if i % 2 == 0]
lc2

[100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900]

In [3]:
#find odd and even alternately
e2o3list = [  num**2     if num%2 == 0 else num**3    for num in range(10,20)           ]
e2o3list

[100, 1331, 144, 2197, 196, 3375, 256, 4913, 324, 6859]

In [16]:
#multiple of 3 even odd list
m3eolist = [num**2 if num%2==0 else num**3         for num in range(10,30)      if num%3==0]
m3eolist

[144, 3375, 324, 9261, 576, 19683]