In [1]:
import   scipy.stats                      as     stats
import   statsmodels.stats.proportion     as     SMP
import   numpy                            as     np
import   pandas                           as     pd
import   matplotlib.pyplot                as     plt
import   seaborn                          as     sns
from     IPython.display                  import Image
import   statistics
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 
import statsmodels.api as sm
from   statsmodels.formula.api import ols

In [57]:
import statsmodels.api as sm
from   statsmodels.formula.api import ols

In [ ]:
#QUIZ-1 
#Health officials of India is expecting  COvid - 19 is affecting more men than women,
#they are expecting 65% of affected case in india are Men. To verify this hypothesis, random
#samples ( n = 1500) across India  were collected, the samples are as follows: Men:900 , Women:600

In [ ]:
#QUIZ-1: Solution
#The problem is 1-Dimensional vs 2 categories
#So we need to use proportion_ztest for 1 - dimension
#proportion_ztest(count of male , total sample(n) , Expectation = .65)

In [2]:
#H0: Proportion_Male =  65%
#Ha: Proportion_MAle != 65%
SMP.proportions_ztest(900,1500,.65)

(-3.9528470752104776, 7.722679550543272e-05)

In [ ]:
#Inference:
#P_value = 7.722 , Hence p_value < 0.05 , indicading we need to reject H0 and accept ha
#implicating proportion_male is not equal to expected 65% of affected cases.

In [4]:
900/1500  # 60% , but expectation is 65%

0.6

In [ ]:
#QUIZ-2
#Now they are  expecting 60% Senior Citizens , 30% Young and Middle aged and 10% Childrens
#A random samples(n = 2000) collected across India and found to be
#[Senior citizens:1100,y&m:500,C:400]

In [ ]:
#QUIZ-2 Solution:
#1-Dimension but multiple category so we need to use chisquare test
#chisquare(observed , expected)
#chisquare([1100 , 500 , 400] , [60%of2000,30%of2000,10%of2000])

In [ ]:
#Ho : sample holds good for expected proportion
#Ha : sample does not hold good for expected proportion

In [3]:
n = 2000
stats.chisquare([1100,500,400], [n*.6,n*.3,n*.1])

Power_divergenceResult(statistic=225.0, pvalue=1.3863432936411693e-49)

In [ ]:
#inference:
#P_value(1.3863432936411693e-49) approx 0.00 , p_value < 0.05
#P_value rejects the null hypothesis H0
#Health officials expecations (more no of childrens are affected then the expected value)

In [8]:
1100/2000  #But expectation is 60%

0.55

In [9]:
500/2000

0.25

In [10]:
400/2000

0.2

In [ ]:
#Quiz-3
#Also they are analyzing the impact of disease in different human settlement area,
#The collected data showing the characteristics below,Check the significance of human settlement
#type affecting the disease

In [12]:
df3       = pd.DataFrame({"Rural" : [867,490],
                          "urban" : [500,550]})
df3.index = ["Negative","Positive"]
df3

          Rural  urban
Negative    867    500
Positive    490    550

In [ ]:
#QUIZ-3:Solution
#There are two groups Human Settlement(Rural,urban) and Disease(-ve,+ve)
#Hence 2 sample proportion test

In [ ]:
#H0 : Proportion_Rural = Proportion_urban
#Ha : Proportion_Rural != Proportion_urban

In [13]:
SMP.proportions_ztest([490,550],[490+867,550+500])

(-7.9920767350927475, 1.3268440495388725e-15)

In [ ]:
#P<0.05 , we reject H0 , which implies Ha holds good that is there is significant difference
#in proportion of the people affected in rural area and urban area

In [ ]:
#Post Hoc Analysis

In [14]:
#What population of rural population is affected by disease 
490/1375

0.3563636363636364

In [15]:
#what population of urban population is affected by disease
550/1050

0.5238095238095238

In [ ]:
#Post Hoc Aanalysis tells that more amount of urban population is affected by the disease.
#Comparative to the rural population

In [ ]:
#QUIZ-4
#Similar such data were collected from europe and counts appear to be like this
#Check the pattern is similar between two countries

In [17]:
df4 = pd.DataFrame({"India"   : [1100,500,400] ,
                    "europe"  : [800,450,300]})
df4.index=["Seniors" , "Y&M" , "Childrens"]
df4

           India  europe
Seniors     1100     800
Y&M          500     450
Childrens    400     300

In [ ]:
#Here we have 2 vas 3 so we need to go for chi2_contigency

In [20]:
stats.chi2_contingency(df4)

(7.361751152073733,
 0.02520089986844925,
 2,
 array([[1070.42253521,  829.57746479],
        [ 535.21126761,  414.78873239],
        [ 394.36619718,  305.63380282]]))

In [ ]:
#H0  : pattern similar between two countries
#Ha  : pattern not similar between two countries
#p_value = 0.02 < 0.05 , we reject H0 and accept Ha
#Proportion of C-19  affected people in Sr.Ctz category  and Y&M category are significantly 
#different between India and Europe

In [ ]:
#POST HOC ANNALYSIS

In [21]:
#Seniors
1100/2000,450/1550

(0.55, 0.2903225806451613)

In [22]:
#Y&M
500/2000,450/1550

(0.25, 0.2903225806451613)

In [23]:
#Children
400/2000,300/1550

(0.2, 0.1935483870967742)

In [ ]:
#Post Hoc Inference:
#Seniors and Y&M are affected more in India than europe by the disease

# ANOVA_MSTR_MSE

In [24]:
D = [43,45,45,47]
E = [37,40,40,43]
F = [34,35,35,36]
A = [30,40,50,60]
B = [25,30,50,55]
C = [25,30,40,45]

In [26]:
Abar =  np.mean(A)
Bbar =  np.mean(B)
Cbar =  np.mean(C)

In [28]:
overall_avgerage_xbar =  (np.sum(A)+np.sum(B)+np.sum(C))/12
overall_avgerage_xbar

40.0

In [30]:
MSTR_numerator_sstr = len(A)*(Abar-overall_avgerage_xbar)**2 + len(B)*(Bbar-overall_avgerage_xbar)**2 +len(C)*(Cbar-overall_avgerage_xbar)**2 
MSTR_numerator_sstr

200.0

In [31]:
#degree of freedom = k - 1 , where K = total no of groups
MSTR_deno_degreeoffreedom = 3 - 1
MSTR_deno_degreeoffreedom

2

In [40]:
MSTR_abc = MSTR_numerator_sstr/MSTR_deno_degreeoffreedom
MSTR_abc

100.0

In [ ]:
#MSE calculation for ABC points

In [35]:
Avar = np.var(A,ddof = 1)
Bvar = np.var(B,ddof = 1)
Cvar = np.var(C,ddof = 1)

In [43]:
#within sample variability (MSE) = SSE/dof 
sse = (len(A)-1)*Avar+(len(B)-1)*Bvar+(len(C)-1)*Cvar
df2 = 12-3
print(sse)
print(df2)
MSE_abc = sse/df2
MSE_abc

1400.0
9

155.55555555555554

In [44]:
F_stat_abc = MSTR_abc/MSE_abc
F_stat_abc

0.6428571428571429

In [ ]:
#For D,E,F group

In [45]:
Dbar =  np.mean(D)
Ebar =  np.mean(E)
Fbar =  np.mean(F)

In [46]:
Dvar = np.var(D,ddof = 1)
Evar = np.var(E,ddof = 1)
Fvar = np.var(F,ddof = 1)

In [48]:
#MSTR for def
MSTR_numerator_sstr = len(D)*(Dbar-overall_avgerage_xbar)**2 + len(E)*(Ebar-overall_avgerage_xbar)**2 +len(F)*(Fbar-overall_avgerage_xbar)**2 
MSTR_numerator_sstr

200.0

In [50]:
MSTR_deno_degreeoffreedom = 3 - 1
MSTR_deno_degreeoffreedom

2

In [49]:
MSTR_def = MSTR_numerator_sstr/MSTR_deno_degreeoffreedom
MSTR_def

100.0

In [47]:
#Within sample variablility  (MSE) = SSE/dof
sse = (len(D)-1)*Dvar+(len(E)-1)*Evar+(len(F)-1)*Fvar
df2 = 12-3
print(sse)
print(df2)
MSE_def = sse/df2
MSE_def

28.0
9

3.111111111111111

In [51]:
F_stat_def = MSTR_def/MSE_def
F_stat_def

32.14285714285714

# One liner for f value

In [55]:
G1_df    = pd.DataFrame()
df1      = pd.DataFrame({'group':"A" , "age": [30,40,50,60]})
df2      = pd.DataFrame({'group':"B" , "age": [25,30,50,55]})
df3      = pd.DataFrame({'group':"C" , "age": [25,30,40,45]})
G1_df    = G1_df.append(df1)
G1_df    = G1_df.append(df2)
G1_df    = G1_df.append(df3)

In [56]:
G1_df

  group  age
0     A   30
1     A   40
2     A   50
3     A   60
0     B   25
1     B   30
2     B   50
3     B   55
0     C   25
1     C   30
2     C   40
3     C   45

In [59]:
import statsmodels.api as sm
from   statsmodels.formula.api import ols   #ols = ordinary least square

mod       = ols("age ~ group" , data = G1_df).fit()  #always take continous variable first age
aov_table = sm.stats.anova_lm(mod, typ=1)            #typ=1 used for display purpose
print(aov_table)

           df  sum_sq     mean_sq         F    PR(>F)
group     2.0   200.0  100.000000  0.642857  0.548323
Residual  9.0  1400.0  155.555556       NaN       NaN

In [ ]:
#GRoup abc
#group =  between variability (MSTR)
#REsidual = within sample variability (MSE)
#Mean_sq = sum_sq / df
#F = MSTR/MSE
#Pvalue = 0.548

In [ ]:
#Group def

In [72]:
G2_df = pd.DataFrame()
DF1   = pd.DataFrame({"group" : "D" , "age" : [43,45,45,47]})
DF2   = pd.DataFrame({"group" : "E" , "age" : [37,40,40,43]})
DF3   = pd.DataFrame({"group" : "F" , "age" : [34,35,35,36]})
G2_df = G2_df.append(DF1)
G2_df = G2_df.append(DF2)
G2_df = G2_df.append(DF3)
G2_df

  group  age
0     D   43
1     D   45
2     D   45
3     D   47
0     E   37
1     E   40
2     E   40
3     E   43
0     F   34
1     F   35
2     F   35
3     F   36

In [73]:
mod = ols("age ~ group" , data = G2_df).fit()
aov_table = sm.stats.anova_lm(mod , typ=1)
print(aov_table)

           df  sum_sq     mean_sq          F   PR(>F)
group     2.0   200.0  100.000000  32.142857  0.00008
Residual  9.0    28.0    3.111111        NaN      NaN

In [ ]:
#pvalue(0.00) < 0.05 , ha holds good

# Hereafter we will use f_oneway function

In [ ]:
#f_oneway(group1,group2,group3)

In [ ]:
stats.f_oneway()